    * {
        background-color: #daf1ff;
    }
    body {
        border: 3px solid #bd04bd;
        padding: 10px;
        font-family: sans-serif;
    }
    h1 {
        color:purple;
        font-weight: bold;
        font-size: 2em;
    }
    fieldset legend {
        color: darkcyan;
        font-size: 1.2em;
    }
    button {
        font-size: 15px;
        padding: 6px 8px;
        border-color: purple;
        font-weight: bold;
        color: darkcyan;
    }
    button:hover {
        background-color: #bd04bd;
        color: #daf1ff;
    }
    fieldset {
        border: 2px solid purple;
    }
    #tamanhos {
        font-size: 15px;
    }
    input[type="text"]:focus, select:focus, textarea:focus {
        background-color: white;
    }
